/*
               Inroads Shopping Cart - Attributes Tab Style Sheet

                        Written 2008-2018 by Randall Severy
                         Copyright 2008-2018 Inroads, LLC
*/

.attribute_tab { width: 100px; }
.options_tab { width: 100px; }
.conditions_tab { width: 100px; }

.tab_section { width: 580px; }
.tab_row_middle_cell { width: 100%; }

.overlay_link {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  color: #636466;
}

#attributes_grid .aw-column-3 { text-align: center; }
#attributes_grid .aw-column-4 { text-align: center; }
#attributes_grid .aw-column-5 { text-align: center; }
#attributes_grid .aw-column-6 { text-align: center; }
#attributes_grid .aw-column-7 { text-align: center; }
#attributes_grid .aw-column-8 { text-align: center; }
#attributes_grid .aw-column-9 { text-align: center; }

#options_grid .aw-column-1 { text-align: center; }
#options_grid .aw-column-3 { text-align: center; }
#options_grid .aw-column-4 { text-align: right; }
#options_grid .aw-column-5 { text-align: center; }

#conditions_grid .aw-column-1 { text-align: center; }
#conditions_grid .aw-column-2 { text-align: center; }
#conditions_grid .aw-column-4 { text-align: center; }

#sets_grid .aw-column-2 { text-align: center; }

