/*
             Inroads Control Panel/Shopping Cart - Dashboard Tab Style Sheet

                           Written 2015 by Randall Severy
                            Copyright 2015 Inroads, LLC
*/

#dashboard .rfMaximizeIcon {
  display: none;
}

/*
#widget1 .rfCaption {
  display: none !important;
}

#widget1 .rfWrapper {
  height: 70px !important;
}
*/

