/*
          Inroads Control Panel/Shopping Cart - Admin Tab - Import Data Style Sheet

                        Written 2008-2012 by Randall Severy
                         Copyright 2008-2012 Inroads, LLC
*/

.import_header {
  font-size: 16px !important;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
}

.import_table {
  width: 100%;
}

.import_table td {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}

.import_table th {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}

.import_div {
  height: 510px;
  width: 670px;
  overflow: auto;
  margin: auto;
  border: 1px solid gray;
}

.unmap_link {
  display: inline;
  padding-left: 30px;
}

.unmap_link a {
  font-size: 11px;
  color: #0064A3;
}

