/*
             Inroads Control Panel/Shopping Cart Login Screen Style Sheet

                          Written 2007 by Randall Severy
                           Copyright 2007 Inroads, LLC
*/

.body_content {
  height: 200px;
  text-align: center;
}

.button_table {
  margin-top: 20px;
}

h1 {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  color: #808284;
}

.fieldtable {
  margin-left: auto;
  margin-right: auto;
}
