/*
             Inroads Control Panel/Shopping Cart Main Screen Style Sheet

                        Written 2012-2018 by Randall Severy
                         Copyright 2012-2018 Inroads, LLC
*/

.tab_row_middle {
  position: relative;
}

.welcome_div {
  position: absolute;
  top: -31px;
  right: 160px;
  font-size: 14px;
  font-weight: bold;
  color: #808284;
  text-align: right;
}

.welcome_name {
}

.top_links {
  position: absolute;
  top: -30px;
  right: 2px;
  font-size: 12px;
  color: #333333;
}

.top_links a {
  color: #333333;
  text-decoration: none;
}

.website_div {
  position: absolute;
  top: -22px;
  left: 5px;
  font-size: 12px;
  color: #808284;
}

.website_div select {
  font-size: 12px;
  color: #808284;
}

#about .contentArea {
  height: 295px;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
  color: #808284;
}

.about_header_div {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 15px;
}

.about_platform_div {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
}

.site_info_div {
  margin: 0px auto;
  border: 1px solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 210px;
  padding: 15px;
  margin-top: 25px;
  line-height: 26px;
}

.about_footer_div {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#credits .fieldtable {
  width: 100%;
}

#credits .fieldtable th {
  color: #808284;
}

#credits .fieldtable .installed_version {
  text-align: center;
}

#credits .fieldtable .home_page {
  text-align: center;
}

#credits .fieldtable .license {
  text-align: center;
}

#credits .fieldtable .button {
  padding: 2px 15px;
  margin: 0px;
  font-size: 13px;
  color: #545454;
  font-weight: normal;
  border: 1px solid #919191;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-left: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  background: #dcdcdc;
  background: -moz-linear-gradient(top, #efefef, #dcdcdc 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), color-stop(100%, #dcdcdc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dcdcdc');
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

table.checkphp {
  border-collapse: collapse;
}

table.checkphp th {
  border: 1px solid #000000;
}

table.checkphp, table.checkphp td {
  border: 1px solid #bbbbbb;
}

