/*
                Inroads Shopping Cart - Reviews Tab Style Sheet

                      Written 2014-2017 by Randall Severy
                       Copyright 2014-2017 Inroads, LLC
*/

#reviews_grid .aw-column-1 { text-align: center; }
#reviews_grid .aw-column-2 { text-align: center; }
#reviews_grid .aw-column-8 { text-align: center; }

