/*
          Inroads Control Panel - Customer Credit Cards Tab Style Sheet

                         Written 2015 by Randall Severy
                          Copyright 2015 Inroads, LLC
*/

#cards_grid .aw-column-2 { text-align: center; }
#cards_grid .aw-column-3 { text-align: center; }

